target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/httpRequests/2023-07-12T171002.OK.json
/.idea/httpRequests/2023-07-12T171026.OK.json
/.idea/httpRequests/2023-07-12T171249.OK.json
/.idea/httpRequests/2023-07-12T172350.OK.json
/.idea/httpRequests/2023-07-12T172603.OK.json
/.idea/httpRequests/2023-07-12T173518.OK.json
/.idea/httpRequests/2023-07-12T173632.OK.json
/.idea/httpRequests/2023-07-12T173756.OK.json
/.idea/httpRequests/2023-07-12T180708.OK.json
/.idea/httpRequests/2023-07-12T180717.OK.json
/.idea/httpRequests/2023-07-12T180805.OK.json
/.idea/httpRequests/2023-07-12T180847.OK.json
/.idea/httpRequests/2023-07-12T180856.OK.json
/.idea/httpRequests/2023-07-12T180919.OK.json
/.idea/httpRequests/2023-07-12T180927.OK.json
/.idea/httpRequests/2023-07-12T180935.OK.json
/.idea/httpRequests/2023-07-12T180941.OK.json
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/encodings.xml
/.idea/dataSources/f898d57e-6392-460c-ab2a-806942bf6390.xml
/.idea/httpRequests/http-requests-log.http
/.idea/dataSources/f898d57e-6392-460c-ab2a-806942bf6390/storage_v2/_src_/database/postgres.edMnLQ/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/f898d57e-6392-460c-ab2a-806942bf6390/storage_v2/_src_/database/test.kkQ2AA/schema/information_schema.FNRwLQ.meta
/.idea/misc.xml
/.idea/dataSources/f898d57e-6392-460c-ab2a-806942bf6390/storage_v2/_src_/database/postgres.edMnLQ/schema/pg_catalog.0S1ZNQ.meta
/.idea/dataSources/f898d57e-6392-460c-ab2a-806942bf6390/storage_v2/_src_/database/test.kkQ2AA/schema/pg_catalog.0S1ZNQ.meta
/.idea/dataSources/f898d57e-6392-460c-ab2a-806942bf6390/storage_v2/_src_/database/postgres.edMnLQ.meta
/.idea/dataSources/f898d57e-6392-460c-ab2a-806942bf6390/storage_v2/_src_/database/test.kkQ2AA/schema/public.abK9xQ.meta
/.idea/dataSources/f898d57e-6392-460c-ab2a-806942bf6390/storage_v2/_src_/database/test.kkQ2AA.meta
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
